{% extends 'base.html' %}
htm
{% block title %}
Sign up |
{% endblock title %}

{% block content %}
<main>
    <h1>Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
</main>
{% endblock content %}