{% extends 'base.html' %}


{% block title %}
{% endblock %}

{% block content %}


<h1>{{ project.name }}</h1>
<h2>{{ project.tasks" }}</h2>
<p>
    Created on {{ project.created }} |
    Updated on {{ project.updated }}
</p>
{% if <project class="tasks"></project> %}

<h2>Tasks</h2>
{% if project_list %}
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            {% for project in project_list %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>The project has no tasks</p>

    {% endif%}
</div>
</main>
{% endblock content %}