<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block title %}

    {% endblock %}

    {% block content %}
    <main>
        <div>
            <h1>My Projects</h1>

            {% if project_list %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                    <a href="{% url 'detail.hmtl' projects.pk %}"></a>
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You are not assigned to any projects</p>

            {% endif%}
        </div>

    </main>

    {% endblock %}